<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<head>
    <title>Ana Marie's Bridal | Jefferson City</title><meta name="description" content="Welcome to Ana Marie's Bridal. Use this page to help find out more about us and what we can offer you on your big day!" /><meta name="keywords" content="wedding dresses in Jefferson City Missouri, wedding dresses in Cole County, wedding dresses in Missouri, bridal gowns in Jefferson City Missouri, bridal gowns in Cole County, bridal gowns in Missouri, MidMo wedding dresses" />
	
   
	 <!-- favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png" />
	<link rel="Shortcut icon" href="images/ico/favicon.ico" />
    <link rel="Bookmark" href="assets/images/favicon.ico" />
    <link rel="bookmark" href="assets/images/favicon.ico" type="image/ico" />
    <!-- favicon end -->
	

	
</head>


<!-- end custom head snippets -->
